<% unless user_signed_in? %>
<h1>Welcome to the IBEST FileBox</h1>
<p>
	To access your files please sign in.  This is a developing project 
  and should not be used for long term storage <i>(yet)</i>. 
</p>
<% else %>
<%= render :partial => "breadcrumbs" %>

<div class="asset_list">

	<b>Folders:</b>
	<% if @folders.empty? %>
	  <p class="empty"><i>None</i></p>
	<% else %>
	<%= render :partial => "shared/list_header" %>
	<% @folders.each do |folder| %>
		<%= render :partial => "shared/folder_details", :locals => { :folder => folder, :descend => folder_path(folder) } %>
	<% end %>
	<% end %>
	
	<br />
	<br />
	<b>Files:</b>
	<% if @assets.empty? %>
	  <p class="empty"><i>None</i></p>
	<% else %>
	<%= render :partial => "shared/list_header" %>
	<% @assets.each do |asset| %>
		<%= render :partial => "shared/asset_details", :locals => { :asset => asset } %>
	<% end %>
	<% end %>

	<% unless @is_this_folder_being_shared or ! @current_folder.nil? %>
	<br />
	<br />
	<b>Folders Shared With You:</b>
	<!-- Listing Shared Folders (the folders shared by others) -->
	<% @being_shared_folders.each do |folder| %>
	<div class="asset_details <%= folder.shared? ? 'shared_folder' : 'folder' %>" id="folder_<%= folder.id %>">
		<div class="file_name">
			<%= link_to folder.name, folder_path(folder) %>
			-
			<i>(<%= folder.user.name %>)</i>
		</div>
		<div class="file_size">
		</div>
		<div class="file_last_updated">
		</div>
		<div class="actions">
		</div>
	</div>
	<% end %>
	<% end %>

</div> <!-- Asset list -->
<%= render :partial => "notification_form" %>
<%= render :partial => "invitation_form" %>
<% end %>

