<% unless user_signed_in? %>
<h1>Welcome to the IBEST FileBox</h1>
<p>
	To access your files please sign in.  This is a developing project 
  and should not be used for long term storage <i>(yet)</i>. 
</p>
<br />
<p>
	Login requires a secure connection.  To avoid warnings from your browser you can download our
	<%= link_to "root certificate here", "/ibestCA.crt" %> and install it on your system as a trusted
	certificate.  Our revocation list is also available <%= link_to "here", "/ibestCA.crl" %>.
</p>
<br />
<br />
<% else %>
	<%= render :partial => "shared/assets" %>
	<%= render :partial => "notification_form" %>
	<%= render :partial => "invitation_form" %>
<% end %>

