<%= render :partial => "breadcrumbs" %>
<%= render :partial => "global_actions" %>

<div class="asset_list">
	<%= render :partial => "shared/folder_details" %>	
	<%= render :partial => "shared/asset_details" %>
</div>

<%= render :partial => "invitation_form" %>
<%= render :partial => "notification_form" %>
