<% @assets.each do |asset| %>
	<div class="asset_details file">
		<div class="file_name">
			<%= link_to truncate(asset.file_name, :length => 50), download_path(asset) %>
		</div>
	
		<% if @public_view %>
		<div class="file_owner">
			<%= asset.user.name %>
		</div>
		<% end %>
	
		<div class="file_size">
			<%= number_to_human_size(asset.file_size, :precision => 2) %>
		</div>
		<div class="file_last_updated">
			<%= asset.uploaded_file_updated_at %>
		</div>
		<div class="actions">
			<% if !@public_view %>
				<%= link_to "Delete", asset, :confirm => 'Are you sure?', :method => :delete, :class => "deletebutton" unless @is_this_folder_being_shared %>
			<% end %>
			<%= link_to "Download", download_path(asset), :class => "shared_downloadbutton" %>
		</div>
	</div> 
<% end %>
