<% @folders.each do |folder| %>
		<div class="asset_details <%= folder.shared? ? 'shared_folder' : 'folder' %>" id="folder_<%= folder.id %>">
		<div class="file_name">
			<%= link_to truncate(folder.name, :length => 50), folder_path(folder) %>
		</div>

		<% if @public_view %>
		<div class="file_owner">
			<%= folder.user.name %>
		</div>
		<% end %>

		<div class="file_size">
			<%= pluralize(folder.number_of_files, 'File') %>
		</div>
		<div class="file_last_updated">
			<%= folder.last_updated %>
		</div>
		<% if !@public_view %>
		<div class="actions">
			<% if folder.parent.nil? and folder.public? %>
				<%= link_to "Set Private", publicize_path(folder), :class => "setprivatebutton" unless @is_this_folder_being_shared %>
			<% elsif folder.parent.nil? %>
				<%= link_to "Set Public", publicize_path(folder), :class => "setpublicbutton" unless @is_this_folder_being_shared %>
			<% end %>
			<%= link_to "Delete", folder, :confirm => 'Are you sure to delete the folder and all of its contents?', :class => "deletebutton", :method => :delete unless @is_this_folder_being_shared %>
			<%= link_to "Rename", edit_folder_path(folder), :class => "editbutton" unless @is_this_folder_being_shared %>
			<%= link_to "Notify", "#", :folder_id => folder.id, :folder_name => folder.name, :folder_emails => folder.to_shared_emails.join(','), :class => "notifybutton" unless @is_this_folder_being_shared %>
			<%= link_to "Share", "#", :folder_id => folder.id, :folder_name => folder.name, :folder_emails => folder.to_shared_emails.join(','), :class => "sharebutton" unless @is_this_folder_being_shared %>
		</div>
		<% end %>
	</div>
<% end %>
