<div id="menu">
<% unless @is_this_folder_being_shared or @is_this_folder_public %>
	<ul id="top_menu">
		<li>
			<%= link_to "Home", root_url %>
		</li>
		<% if user_signed_in? %>
		<li>
			<%= link_to "Invite", invites_path %>
		</li>
		<% else %>
		<li>
			<%= link_to "Public Folders", public_folders_path %>
		</li>
		<% end %>
		<li>
			<%= link_to "Help", "#" %>
		</li>
	</ul>
<% else %>
	<h3>This folder is being shared to you by <%= @current_folder.user.name %></h3>
<% end %>
</div>
