<div id="menu">
<% unless @is_this_folder_being_shared or @is_this_folder_public %>
	<ul id="top_menu">
		<li class="bolder">
			<%= link_to "Home", root_url %>
		</li>
			
		<% if user_signed_in? %>
		<% if @current_folder.nil? %>
		<li class="bolder">
			<%= link_to "Create folder in 'Home'", new_folder_path unless @is_this_folder_being_shared %>
		</li>
		<li class="bolder">
			<%= link_to "Upload files to 'Home'", new_asset_path unless @is_this_folder_being_shared %>
		</li>
		<% else %>
		<li class="bolder">
			 <%= link_to "Create folder in '#{truncate(@current_folder.name, :length => 10)}'", new_sub_folder_path(@current_folder) unless @is_this_folder_being_shared %>
		</li>
		<li class="bolder">
			<%= link_to "Upload files to '#{truncate(@current_folder.name, :length => 10)}'", new_sub_asset_path(@current_folder) unless @is_this_folder_being_shared %>
		</li>
		<% end %>
		<li>
			<%= link_to "Invite", invites_path %>
		</li>
		<% end %>
		<% unless user_signed_in? %>
		<li>
			<%= link_to "Key Login", keyauth_login_path %>
		</li>
		<% end %>
		<li>
			<%= link_to "Report Problems", "http://tickets.ibest.uidaho.edu" %>
		</li>
	</ul>
<% else %>
	<h3>This folder is being shared to you by <%= @current_folder.user.name %></h3>
<% end %>
</div>
