<div id="invitation_form" title="Invite others to share" style="display:none">
	<%= form_tag '/home/share' do %>
	<label for="email_addresses">
		Enter recipient email addresses here
		<br />
		<i style="font-weight: normal;">Separate multiple addresses with a comma</i>
	</label>
	<br />
	<%= text_area_tag 'email_addresses', "", :class => 'text ui-widget-content ui-corner-all'%>
	<br />
	<br />
	<label for="message">
		Optional message
	</label>
	<br />
	<%= text_area_tag 'message',"",  :class => 'text ui-widget-content ui-corner-all'%>
	<%= hidden_field_tag "folder_id" %>
	<% end %>
</div>
<div id="upload_form" title="Upload file" style="display:none">
	<%= form_tag '/asset/new', :html => {:multipart => true} do %>
	<label for="uploaded_file">
		Select file for upload
		<br />
		<%= file_field_tag 'uploaded_file' %>
  </label>
	<%= hidden_field_tag 'folder_id' %>
	<% end %>
</div>