<% unless user_signed_in? %>
<h1>Welcome to the IBEST FileBox</h1>
<p>
	File sharing web application you can't ignore.
</p>
<% else %>
<%= render :partial => "shared/breadcrumbs" %>
<%= render :partial => "shared/list_header" %>

<div class="asset_list">

	<!-- Listing Folders -->
	<% @folders.each do |folder| %>
		<%= render :partial => "shared/folder_details", :locals => { :folder => folder } %>
	<% end %>
	
	<% @assets.each do |asset| %>
		<%= render :partial => "shared/asset_details", :locals => { :asset => asset } %>
	<% end %>

	<% unless @is_this_folder_being_shared or ! @current_folder.nil? %>
	<br />
	<br />
	<b>Shared Folders:</b>
	<!-- Listing Shared Folders (the folders shared by others) -->
	<% @being_shared_folders.each do |folder| %>
	<div class="asset_details <%= folder.shared? ? 'shared_folder' : 'folder' %>" id="folder_<%= folder.id %>">
		<div class="file_name">
			<%= link_to folder.name, browse_path(folder) %>
			-
			<i>(<%= folder.user.name %>)</i>
		</div>
		<div class="file_size">
			-
		</div>
		<div class="file_last_updated">
			-
		</div>
		<div class="actions">
		</div>
	</div>
	<% end %>
	<% end %>

</div> <!-- Asset list -->
<%= render :partial => "invitation_form" %>
<% end %>

