<% unless user_signed_in? %>
<h1>Welcome to the IBEST FileBox</h1>
<p>
	File sharing web application you can't ignore.
</p>
<% else %>
<%= render :partial => "breadcrumbs" %>
<div id="menu">
	<ul id="top_menu">
		<% if @current_folder %>
		<li>
			<%= link_to "Upload File", new_sub_file_path(@current_folder) %>
		</li>
		<li>
			<%= link_to "New Folder", new_sub_folder_path(@current_folder) %>
		</li>
		<% else %>
		<li>
			<%= link_to "Upload File", new_asset_path %>
		</li>
		<li>
			<%= link_to "New Folder", new_folder_path %>
		</li>
		<% end %>
	</ul>
</div>
<div class="asset_list_header">
	<div class="file_name_header">
		File Name
	</div>
	<div class="file_size_header">
		Size
	</div>
	<div class="file_last_updated_header">
		Modified
	</div>
</div>
<div class="asset_list">
	<% @folders.each do |folder| %>
	<% if folder.children.empty? and folder.assets.empty? %>
	<div class="asset_details folder">
		<% else %>
		<div class="asset_details folder_documents">
			<% end %>
			<div class="file_name">
				<%= link_to folder.name, browse_path(folder) %>
			</div>
			<div class="file_size">
				<%= pluralize(folder.number_of_files, 'File') %>
			</div>
			<div class="file_last_updated">
				<%= folder.last_updated %>
			</div>
			<div class="actions">
				<div class="share">
					<%= link_to "Share" %>
				</div>
				<div class="rename">
					<%= link_to "Rename", rename_folder_path(folder) %>
				</div>
				<div class="delete">
					<%= link_to "Delete", folder, :confirm => 'Are you sure to delete the folder and all of its contents?', :method => :delete %>
				</div>
			</div>
		</div>
		<% end %>
		<% @assets.each do |asset| %>
		<div class="asset_details">
			<div class="file_name file">
				<%= link_to asset.file_name, download_url(asset) %>
			</div>
			<div class="file_size">
				<%= number_to_human_size(asset.file_size, :precision => 2) %>
			</div>
			<div class="file_last_updated">
				<%= asset.uploaded_file_updated_at %>
			</div>
			<div class="actions">
				<div class="download">
					<%= link_to "Download", download_url(asset) %>
				</div>
				<div class="delete">
					<%= link_to "Delete", asset, :confirm => 'Are you sure?', :method => :delete %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
</div>
