<%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui' %>
<script type="text/javascript" charset="utf-8">
	$( function () {
		$('.upload').fileUploadUI({
			uploadTable: $('#files'),
			buildUploadRow: function (files, index) {
				var file = files[index];
				return $('<tr><td>' + file.name + '<\/td>' +
				'<td class="file_upload_progress"><div><\/div><\/td>' +
				'<td class="file_upload_cancel">' +
				'<button class="ui-state-default ui-corner-all" title="Cancel">' +
				'<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
				'<\/button><\/td><\/tr>');
			},
			buildDownloadRow: function (file) {
				return $('<tr><td>' + file.name + '<\/td>' +
				'<td class="file_upload_status_' + file.result + '"><div>' + file.msg + '<\/div><\/td><\/tr>');
			},
			sequentialUploads: true
		});
	});
</script>
<% title "Upload files" %>
<%= render :partial => "folders/breadcrumbs" %>
<%= render :partial => "form" %>
<br />
<br />
<br />
<span style="clear: both; display: block; color: #ff0000;"><p><pre><b>Important Restrictions: </b>
	For the best experience use Google Chrome&trade; or Safari&trade;<br />
	Currently multiple file uploads and drag-and-drop only work with
	Chrome, Firefox 4, and Safari.  Firefox 4 has issues uploading files
	larger than 2GB.  Firefox 3 can perform single file uploads and 
	Internet Explorer does not work at all.</pre></p></span>

<p>
	<% if @asset.folder %>
	<%= link_to "Back to '#{@asset.folder.name}' Folder", folder_path(@asset.folder) %>
	<% else %>
	<%= link_to "Back", root_url %>
	<% end %>
</p>
