<%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui' %>
<script type="text/javascript" charset="utf-8">
	$( function () {
		$('.upload').fileUploadUI({
			uploadTable: $('#files'),
			buildUploadRow: function (files, index) {
				var file = files[index];
				return $('<tr><td>' + file.name + '<\/td>' +
				'<td class="file_upload_progress"><div><\/div><\/td>' +
				'<td class="file_upload_cancel">' +
				'<button class="ui-state-default ui-corner-all" title="Cancel">' +
				'<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
				'<\/button><\/td><\/tr>');
			},
			buildDownloadRow: function (file) {
				return $('<tr><td>' + file.name + '<\/td>' +
				'<td class="file_upload_status_' + file.result + '"><div>' + file.msg + '<\/div><\/td><\/tr>');
			},
			/* sequentialUploads: true */
		});
	});
</script>
<% title "Upload files" %>
<%= render :partial => "home/breadcrumbs" %>
<%= render :partial => "form" %>


<p>
	<% if @asset.folder %>
	<%= link_to "Back to '#{@asset.folder.name}' Folder", browse_path(@asset.folder) %>
	<% else %>
	<%= link_to "Back", root_url %>
	<% end %>
</p>
