<!DOCTYPE html>
<html>
	<head>
		<title>IBEST Filebucket | <%= content_for?(:title) ? yield(:title) : "Data sharing project" %></title>
		
		<%= stylesheet_link_tag "jquery.fileupload-ui", "application", "black-tie/jquery-ui-1.8.15.custom", "ui.dynatree" %>		
		<%= javascript_include_tag "jquery-1.5.1.min", "jquery-ui-1.8.15.custom.min", "jquery.dynatree.min" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "rails" %>
		

		<%= csrf_meta_tag %>
		<%= yield(:head) %>
	</head>
	<body>
		<div id="page">
			<div class="header_wrapper">
				<div class="logo">
					<%= link_to image_tag("filebucket-logo.png", :border => 0), root_url %>
				</div>
				<div id="login_user_status">
					<% if user_signed_in? %>
					<%= current_user.email  %>
					|
					<%= link_to "Edit account", edit_user_registration_path %>
					|
					<%= link_to "Sign out", destroy_user_session_path %>
					<% elsif key_signed_in? %>
					<i><%= distance_of_time_in_words(Time.now, current_key.expires_at) %> until expiration</i>
					|
					<%= link_to "Sign out", keyauth_logout_path %>
					<% else %>
					<%= link_to 'Sign in', new_user_session_path%>
					|
					<%= link_to 'Sign up', new_user_registration_path%>
					|
					<%= link_to 'Use access key', keyauth_login_path%>
					<% end %>
				</div>
			</div>
			<%= render :partial => "shared/menu" %>
			<%= render :partial => "folders/breadcrumbs" %>
			<div id="container">
				<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<% end %>
				<%= content_tag :h2, yield(:title) if show_title? %>
				<%= yield %>
			</div>
		</div>
		
		<div id="buttonhelp">
		<% if key_signed_in? %>
		<h3>Download folders shared with you through keys</h3>
		<% elsif user_signed_in? %>
		<h4>Button Legend</h4>
		<table width="100%">
		<tr>
		<td><%= link_to "Download", "#", :class => "downloadbutton" %> Download file or folder</td>
		<td><%= link_to "Edit", "#", :class => "editbutton" %> Rename</td>
		<td><%= link_to "Delete", "#", :class => "deletebutton" %> Delete a file or folder</td>
		</tr>
		<tr>
		<td><%= link_to "Make Public", "#", :class => "setpublicbutton" %> Set a private folder to be public</td>
		<td><%= link_to "Make Private", "#", :class => "setprivatebutton" %> Set a public folder back to private</td>
		<td><%= link_to "Share", "#", :class => "sharebutton" %> Share a folder or edit settings</td>
		</tr>
		<tr>
		<td><%= link_to "Notify", "#", :class => "notifybutton" %> Notify users sharing the folder</td>
		<td><%= link_to "Information", "#", :class => "infobutton" %> Additional information on the item</td>
		<td><%= link_to "Add Folders to Key", "#", :class => "keybutton" %> Add folders to a key</td>
		</tr>
		</table>
		<% else %>
		<h3>Please log in to access your files</h3>
		<% end %>
		</div>
		
		<div id="footer"> 
			Copyright &copy; 2011, All rights reserved - Initiative for
			Bioinformatics and Evolutionary Studies. <br /> 
			University of Idaho | Life Science South | Room 252 | 
			PO Box 443051 | Moscow, ID 83844-3051<br /> 
			Phone - (208) 885-4267 :: Fax - (208) 885-7905<br /> 
	
			<a href="mailto:swicks@uidaho.edu">Coordinator</a> 
			&nbsp;::&nbsp;
			<a href="mailto:rlyon@uidaho.edu">Web Support</a> 
			&nbsp;::&nbsp;
			<a href="mailto:tnelson@uidaho.edu">Server Support</a> 
			&nbsp;::&nbsp;
	
			<a href="mailto:rlyon@uidaho.edu">Cluster Support</a> 
			<br /> 
			<br /> 
		</div>
	</body>
</html>
